.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

.selector{
	background-color: red;
}
.gen-text{
	font-size: 21px;
	line-height:1.3em;
}

@include media( '<=medium' ) {
	.input-generator{
		border-radius:11px;
		padding:10px;
		background-color: #25282C;
		color:white;
		// background-color: red;
		justify-self: center;
		align-self: center;
		// min-width: 90%;
		// font-size: medium;
		min-width: $generator--input-min-width_mobile;
		max-width: $generator--input-max-width_mobile;
		min-height: $generator--input-min-height_mobile;
		max-height: $generator--input-max-height_mobile;
		// margin: 5px;
		margin-bottom: 3px;
		// line-height: 1.2rem;
		
		overflow: scroll;
		overflow-x: hidden;
		// text-overflow: ellipsis;
		// word-wrap: break-word;
	}

	.input-generator::-webkit-scrollbar{
		display: none;
	  }

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.input-generator{
		border-radius:11px;
		padding:10px;
		background-color: #25282C;
		color:white;
		// background-color: red;
		justify-self: center;
		align-self: center;
		// min-width: 90%;
		// font-size: medium;
		min-width: $generator--input-min-width_desktop;
		max-width: $generator--input-max-width_desktop;
		min-height: $generator--input-min-height_desktop;
		max-height: $generator--input-max-height_desktop;
		// margin: 5px;
		margin-bottom: 3px;
		// line-height: 1.2rem;
		
		overflow: scroll;
		overflow-x: hidden;
		// text-overflow: ellipsis;
		// word-wrap: break-word;
	}

	.input-generator::-webkit-scrollbar{
		display: none;
	  }

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
